# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.suo
.vs
/packages
*.suo
autocoders.frontend/plugins/android.json
autocoders.frontend/plugins/com.synconset.imagepicker/APACHE_LICENSE
autocoders.frontend/plugins/com.synconset.imagepicker/BSD_LICENSE
autocoders.frontend/plugins/com.synconset.imagepicker/LICENSE
autocoders.frontend/plugins/com.synconset.imagepicker/README.md
autocoders.frontend/plugins/com.synconset.imagepicker/plugin.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/anim/image_pop_in.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-hdpi/icon.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-hdpi/image_bg.9.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-hdpi/loading_icon.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-ldpi/icon.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-mdpi/ic_action_discard_dark.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-mdpi/ic_action_discard_light.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-mdpi/ic_action_done_dark.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-mdpi/ic_action_done_light.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-mdpi/ic_launcher.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-mdpi/icon.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-xhdpi/ic_action_discard_dark.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-xhdpi/ic_action_discard_light.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-xhdpi/ic_action_done_dark.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-xhdpi/ic_action_done_light.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable-xhdpi/ic_launcher.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/drawable/grid_background.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/layout/actionbar_custom_view_done_discard.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/layout/actionbar_discard_button.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/layout/actionbar_done_button.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/layout/multiselectorgrid.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values-de/multiimagechooser_strings_de.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values-es/multiimagechooser_strings_es.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values-fr/multiimagechooser_strings_fr.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values-hu/multiimagechooser_strings_hu.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values-ja/multiimagechooser_strings_ja.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values-ko/multiimagechooser_strings_ko.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values/multiimagechooser_strings_en.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/res/values/themes.xml
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/src/ImageFetcher.java
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/Library/src/MultiImageChooserActivity.java
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/com/synconset/ImagePicker/FakeR.java
autocoders.frontend/plugins/com.synconset.imagepicker/src/android/com/synconset/ImagePicker/ImagePicker.java
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAlbumPickerController.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAlbumPickerController.m
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAsset.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAsset.m
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAssetCell.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAssetCell.m
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAssetPickerFilterDelegate.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAssetSelectionDelegate.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAssetTablePicker.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCAssetTablePicker.m
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCImagePickerController.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/ELCImagePickerController.m
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/Resources/ELCAlbumPickerController.xib
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/Resources/ELCAssetPicker.xib
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/Resources/ELCAssetTablePicker.xib
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/Resources/Overlay.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/ELCImagePicker/Resources/Overlay@2x.png
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/SOSPicker.h
autocoders.frontend/plugins/com.synconset.imagepicker/src/ios/SOSPicker.m
autocoders.frontend/plugins/com.synconset.imagepicker/www/imagepicker.js
autocoders.frontend/plugins/cordova-plugin-camera/CONTRIBUTING.md
autocoders.frontend/plugins/cordova-plugin-camera/LICENSE
autocoders.frontend/plugins/cordova-plugin-camera/NOTICE
autocoders.frontend/plugins/cordova-plugin-camera/README.md
autocoders.frontend/plugins/cordova-plugin-camera/RELEASENOTES.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/de/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/de/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/es/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/es/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/fr/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/fr/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/android-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/android-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/blackberry-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/blackberry-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/browser-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/browser-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/firefox-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/firefox-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/fireos-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/fireos-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/ios-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/ios-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/ubuntu-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/ubuntu-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/windows-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/windows-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/wp8-fail.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/img/wp8-success.png
autocoders.frontend/plugins/cordova-plugin-camera/doc/it/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/it/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/ja/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/ja/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/ko/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/ko/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/pl/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/pl/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/ru/index.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/zh/README.md
autocoders.frontend/plugins/cordova-plugin-camera/doc/zh/index.md
autocoders.frontend/plugins/cordova-plugin-camera/package.json
autocoders.frontend/plugins/cordova-plugin-camera/plugin.xml
autocoders.frontend/plugins/cordova-plugin-camera/src/android/CameraLauncher.java
autocoders.frontend/plugins/cordova-plugin-camera/src/android/ExifHelper.java
autocoders.frontend/plugins/cordova-plugin-camera/src/android/FileHelper.java
autocoders.frontend/plugins/cordova-plugin-camera/src/blackberry10/index.js
autocoders.frontend/plugins/cordova-plugin-camera/src/browser/CameraProxy.js
autocoders.frontend/plugins/cordova-plugin-camera/src/firefoxos/CameraProxy.js
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/CDVCamera.h
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/CDVCamera.m
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/CDVExif.h
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/CDVJpegHeaderWriter.h
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/CDVJpegHeaderWriter.m
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/UIImage+CropScaleOrientation.h
autocoders.frontend/plugins/cordova-plugin-camera/src/ios/UIImage+CropScaleOrientation.m
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/CaptureWidget.qml
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/back.png
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/camera.cpp
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/camera.h
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/shoot.png
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/toolbar-left.png
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/toolbar-middle.png
autocoders.frontend/plugins/cordova-plugin-camera/src/ubuntu/toolbar-right.png
autocoders.frontend/plugins/cordova-plugin-camera/src/windows/CameraProxy.js
autocoders.frontend/plugins/cordova-plugin-camera/src/wp/Camera.cs
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/.npmignore
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest.xcworkspace/contents.xcworkspacedata
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest.xcworkspace/xcshareddata/CDVCameraTest.xccheckout
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest.xcworkspace/xcshareddata/xcschemes/CordovaLib.xcscheme
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraLibTests/CameraTest.m
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraLibTests/Info.plist
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/project.pbxproj
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/project.xcworkspace/xcshareddata/CDVCameraTest.xccheckout
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/xcshareddata/xcschemes/CDVCameraLib.xcscheme
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/xcshareddata/xcschemes/CDVCameraLibTests.xcscheme
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/de/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/es/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/fr/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/it/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/ja/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/ko/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/pl/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/doc/zh/README.md
autocoders.frontend/plugins/cordova-plugin-camera/tests/ios/package.json
autocoders.frontend/plugins/cordova-plugin-camera/tests/plugin.xml
autocoders.frontend/plugins/cordova-plugin-camera/tests/tests.js
autocoders.frontend/plugins/cordova-plugin-camera/www/Camera.js
autocoders.frontend/plugins/cordova-plugin-camera/www/CameraConstants.js
autocoders.frontend/plugins/cordova-plugin-camera/www/CameraPopoverHandle.js
autocoders.frontend/plugins/cordova-plugin-camera/www/CameraPopoverOptions.js
autocoders.frontend/plugins/cordova-plugin-camera/www/blackberry10/assets/camera.html
autocoders.frontend/plugins/cordova-plugin-camera/www/blackberry10/assets/camera.js
autocoders.frontend/plugins/cordova-plugin-camera/www/ios/CameraPopoverHandle.js
autocoders.frontend/plugins/cordova-plugin-whitelist/CONTRIBUTING.md
autocoders.frontend/plugins/cordova-plugin-whitelist/LICENSE
autocoders.frontend/plugins/cordova-plugin-whitelist/NOTICE
autocoders.frontend/plugins/cordova-plugin-whitelist/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/RELEASENOTES.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/de/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/es/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/fr/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/it/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/ja/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/ko/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/pl/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/doc/zh/README.md
autocoders.frontend/plugins/cordova-plugin-whitelist/package.json
autocoders.frontend/plugins/cordova-plugin-whitelist/plugin.xml
autocoders.frontend/plugins/cordova-plugin-whitelist/src/android/WhitelistPlugin.java
autocoders.frontend/plugins/cordova-plugin-whitelist/src/ios/CDVWhitelistPlugin.h
autocoders.frontend/plugins/cordova-plugin-whitelist/src/ios/CDVWhitelistPlugin.m
autocoders.frontend/plugins/cordova-plugin-whitelist/whitelist.js
autocoders.frontend/plugins/fetch.json
*.log
