<ion-view view-title="Add Vehicle">
    <ion-content>
        <label class="item item-input">
            <span class="input-label">VIN</span>
            <button class="button" ng-click="startScan();">
                ||||
            </button>
            <input type="text" ng-model="vehicle.vin">
            <span class="input-label">Year</span>
            <input type="text" ng-model="vehicle.year">
            <span class="input-label">Make</span>
            <input type="text" ng-model="vehicle.make">
            <span class="input-label">Model</span>
            <input type="text" ng-model="vehicle.model">
            <span class="input-label">True Car Value</span>
            <input type="text" ng-model="vehicle.TCO">
        </label>
        <button ng-click="saveVehicle()">
            Save
        </button>
    </ion-content>
</ion-view>
