<ion-view view-title="Quote">
    <ion-nav-buttons side="right">
        <button class="button button-balanced" ng-click="AcceptQuote()">
            ACCEPT
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list list-inset">

            <div class="item item-divider item-text-wrap">
                <h2 class="ac-vehicle-detail-value">
                    <span class="ac-nowrap">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</span>
                    <span class="ac-nowrap ac-subtitle">{{vehicle.trim}}</span>
                </h2>
            </div>

            <label class=" item item-input item-divider">
                <span class="input-label">Selling Price</span>
                <span>{{vehicle.featPrice | currency : '$' : 0}}</span>
            </label>

            <div class="item item-input-inset ac-pad-left">
                <span class="input-label">Zip Code</span>
                <label class=" item-input-wrapper">
                    <input type="text" placeholder="Enter to zip calculate tax" ng-model="zipCode">
                </label>
            </div>

            <div class=" item item-divider">
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-33">Tax (%)</div>
                    <div class="col col-67 ac-pad-left">{{view.quote.taxRate | currency : '$' : 0}}</div>
                </div>
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-33">Title Fee</div>
                    <div class="col col-67 ac-pad-left">{{view.quote.titleFee | currency : '$' : 0}}</div>
                </div>
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-33">Reg. Fee</div>
                    <div class="col col-67 ac-pad-left">{{view.quote.regFee | currency : '$' : 0}}</div>
                </div>
            </div>

            <div class="item item-input-inset ac-pad-left">
                <span class="input-label">Down Payment</span>
                <label class=" item-input-wrapper">
                    $<input type="text" placeholder="Money down" ng-model="view.quote.downPayment">
                </label>
            </div>

            <div class="item item-input-inset ac-pad-left">
                <span class="input-label">Trade-in</span>
                <label class=" item-input-wrapper">
                    $<input type="text" placeholder="Estimated trade-in value" ng-model="view.quote.tradeInValue">
                </label>
            </div>

            <label class="item item-input item-select">
                <span class="input-label">
                    Credit Score
                </span>
                <select ng-model="quote.creditTier" ng-options="creditTier as creditTier for creditTier in creditTiers"></select>
            </label>

            <label class=" item item-input item-divider">
                <span class="input-label">Payment</span>
                <span class="balanced">{{view.quote.monthlyPayment | currency : '$' : 0}}</span>
                <span class="ac-pad-left ac-regular">(Monthly)</span>
                <button class="button button-clear button-calm ac-pad-left">
                    Calculate
                </button>
            </label>

            <div class=" item item-divider">
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-33">Term</div>
                    <div class="col col-67 ac-pad-left">{{view.quote.term}}</div>
                </div>
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-33">APR (%)</div>
                    <div class="col col-67 ac-pad-left">{{view.quote.apr}}%</div>
                </div>
            </div>

            <button class="button button-block button-balanced" ng-click="MakeOffer()">{{view.offerStatus}}</button>
        </div>



    </ion-content>

</ion-view>
