<ion-view view-title="Quote">
    <ion-nav-buttons side="right">
        <button class="button button-autocoders" ng-show="view.showAccept" ng-click="AcceptQuote()">
            ACCEPT
        </button>
        &nbsp;
        <button class="button button-autocoders" ng-show="view.editable" ng-click="MakeOffer()">
            {{view.offerStatus}}
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list list-inset">

            <div class="item item-divider item-text-wrap">
                <h2 class="ac-vehicle-detail-value">
                    <span class="ac-nowrap">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</span>
                    <span class="ac-nowrap ac-subtitle">{{vehicle.trim}}</span>
                </h2>
            </div>

            <label class=" item item-input item-divider">
                <span class="input-label">Selling Price</span>
                <span>{{vehicle.featPrice | currency : '$' : 0}}</span>
            </label>

            <div class="item item-divider">
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-40">Tax ({{view.quote.taxRate}}%)</div>
                    <div class="col col-60 ac-right">{{view.quote.taxRate}}</div>
                </div>
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-40">Title Fee</div>
                    <div class="col col-60 ac-right">{{view.quote.titleFee | currency : '$' : 0}}</div>
                </div>
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-40">Registration Fee</div>
                    <div class="col col-60 ac-right">{{view.quote.regFee | currency : '$' : 0}}</div>
                </div>
            </div>

            <div class="item item-divider">
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-40">Loan Term</div>
                    <div class="col col-60 ac-right">{{view.quote.term}}</div>
                </div>
                <div class="row ac-quote-vehicle-row ac-regular">
                    <div class="col col-40">Loan APR</div>
                    <div class="col col-60 ac-right">{{view.quote.apr}}%</div>
                </div>
            </div>




            <div class="item item-input-inset" ng-show="view.editable">
                <span class="input-label">Offer Price</span>
                <label class=" item-input-wrapper">
                    $<input type="text" placeholder="Enter offer price" ng-model="buyerQuoteOffer.offerPrice">
                </label>
            </div>

            <div class="item item-input-inset">
                <span class="input-label">Zip Code</span>
                <label class=" item-input-wrapper">
                    <input type="text" placeholder="Enter zip to calculate tax" ng-model="zipCode">
                </label>
            </div>

            <label class="item item-input item-select">
                <span class="input-label">
                    Credit Score
                </span>
                <select ng-model="quote.creditTier" ng-options="creditTier as creditTier for creditTier in creditTiers"></select>
            </label>

            <div class="item item-input-inset" ng-show="view.editable">
                <span class="input-label">Down Payment</span>
                <label class=" item-input-wrapper">
                    $<input type="text" placeholder="Money down" ng-model="buyerQuoteOffer.downPayment">
                </label>
            </div>

            <div ng-show="view.editable" class="item item-input-inset">
                <span class="input-label">Trade-in</span>
                <label class=" item-input-wrapper">
                    $<input type="text" placeholder="Estimated trade-in value" ng-model="buyerQuoteOffer.tradeInValue">
                </label>
            </div>

            <div class=" item item-divider">
                <div class="row ac-quote-vehicle-row">
                    <div class="col col-40">Monthly Payment</div>
                    <div class="col col-60 ac-right">
                        <span class="balanced">{{view.quote.monthlyPayment | currency : '$' : 0}}</span>
                        <button class="button button-clear button-calm ac-pad-left ac-short-button" ng-show="view.editable" ng-click="CalcPayment()">
                            Calculate
                        </button>
                    </div>
                </div>
            </div>

            <button ng-hide="view.editable" class="button button-block button-balanced" ng-click="MakeOffer()">{{view.offerStatus}}</button>

        </div>
    </ion-content>

</ion-view>
