<ion-view view-title="Offer Detail">
    <ion-content>

        <div class="card">
            <div class="item item-divider item-text-wrap">
                <h2 class="ac-vehicle-detail-value">
                    <span class="ac-nowrap">{{proposal.vehicle.year}} {{proposal.vehicle.make}} {{proposal.vehicle.model}}</span>
                    <span class="ac-nowrap ac-subtitle">{{proposal.vehicle.trim}}</span>
                </h2>
            </div>

            <div class="item ac-proposal-detail-items">
                <div class="row">
                    <div class="col col-67 ac-left">{{proposal.vehicle.vin}}</div>
                    <div class="col col-33 ac-right">{{proposal.vehicle.type}}</div>
                </div>

                <div class="row">
                    <div class="col col-50 ac-left">
                        {{proposal.vehicle.odo | number}}
                        <span class="secondary-text-color"> miles</span>
                    </div>
                    <div class="col col-50 ac-right">
                        <span class="secondary-text-color">Interior: </span>
                        {{proposal.vehicle.intColor}}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-33 ">
                        <h2 class="ac-vehicle-detail-value">{{proposal.vehicle.featPrice | currency : '$' : 0}}</h2>
                    </div>
                    <div class="col col-67 ac-right">
                        <span class="secondary-text-color">Exterior: </span>
                        {{proposal.vehicle.extColor}}
                    </div>
                </div>
            </div>


            <!--Counter Offer-->
            <div ng-show="showOffer">
                <div class="item item-input-inset ac-first-border">
                    <span class="input-label">Offer Price</span>
                    <label class=" item-input-wrapper">
                        $<input type="text" placeholder="Enter updated offer price" ng-model="proposal.sellerquote.offeredPrice" />
                    </label>
                </div>
                <div class="item item-input-inset">
                    <span class="input-label">Trade-in Value</span>
                    <label class=" item-input-wrapper">
                        $<input type="text" placeholder="Estimated trade-in value" ng-model="proposal.sellerquote.tradeInValue" />
                    </label>
                </div>
                <div class="item item-divider ac-right">
                    <button class="button button-clear button-calm" ng-click="sendQuote()">
                        Send Offer
                    </button>
                </div>
            </div>


            <div class="item ac-proposal-detail-items">
                <h2 class="ac-vehicle-detail-value">Offer from {{proposal.buyer.name}}</h2>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Offered Price</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.offerPrice | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Trade-in Value</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.tradeInValue | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Down Payment</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.downPayment | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Credit Tier</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.creditTier}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Loan Term (months)</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.term}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Loan APR</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.apr}}%</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Monthly Payment</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.monthlyPayment | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Title Fee</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.titleFee | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Registration Fee</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.regFee | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-40 ac-left secondary-text-color">Tax Rate ({{proposal.buyerquote.taxRate}}%)</div>
                    <div class="col col-60 ac-right">{{proposal.buyerquote.taxAmount | currency : '$' : 0}}</div>
                </div>
            </div>

            <div class="item item-divider ac-right">
                <button class="button button-clear button-calm" ng-click="acceptOffer()">
                    Accept
                </button>
                <button class="button button-clear button-calm" ng-click="rejectOffer()">
                    Reject
                </button>
                <button class="button button-clear button-calm" ng-click="addOffer()">
                    Counter-Offer
                </button>
            </div>


        </div>
    </ion-content>
</ion-view>
