<ion-view view-title="Proposal Detail">
    <ion-content>

        <div class="card">
            <div class="item item-divider item-text-wrap">
                <h2 class="ac-vehicle-detail-value">
                    <span class="ac-nowrap">{{proposal.vehicle.year}} {{proposal.vehicle.make}} {{proposal.vehicle.model}}</span>
                    <span class="ac-nowrap ac-subtitle">{{proposal.vehicle.trim}}</span>
                </h2>
            </div>

            <!--<div class="item item-image ac-vehicle-detail-img">
            <img ng-src="{{proposal.vehicle.imageUrl[0]}}">
        </div>-->

            <div class="item">
                <div class="row">
                    <div class="col col-67 ac-left">{{proposal.vehicle.vin}}</div>
                    <div class="col col-33 ac-right">{{proposal.vehicle.type}}</div>
                </div>

                <div class="row">
                    <div class="col col-50 ac-left">{{proposal.vehicle.odo | number}} miles</div>
                    <div class="col col-50 ac-right">
                        <span class="secondary-text-color">Interior: </span>
                        {{proposal.vehicle.intColor}}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-33 ">
                        <h2 class="ac-vehicle-detail-value">{{proposal.vehicle.featPrice | currency : '$' : 0}}</h2>
                    </div>
                    <div class="col col-67 ac-right">
                        <span class="secondary-text-color">Exterior: </span>
                        {{proposal.vehicle.extColor}}
                    </div>
                </div>
            </div>
        <!--</div>

        <div class="card">-->
            <div class="item">
                <h2 class="ac-vehicle-detail-value">Offer from {{proposal.buyer.name}}</h2>
                <div class="row">
                    <div class="col col-33 ac-left">Offer</div>
                    <div class="col col-67 ac-right">$33,233{{proposal.buyerquote.offeredPrice | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-33 ac-left">Trade-in Value</div>
                    <div class="col col-67 ac-right">{{proposal.buyerquote.tradeInValue | currency : '$' : 0}}</div>
                </div>
                <div class="row">
                    <div class="col col-33 ac-left">Down Payment</div>
                    <div class="col col-67 ac-right">{{proposal.buyerquote.downPayment | currency : '$' : 0}}</div>
                </div>



                <div class="col ac-left">Term: {{proposal.buyerquote.term}}</div>
                <div class="col ac-left">APR: {{proposal.buyerquote.apr}}</div>
                <div class="col ac-left">Monthly Payment: {{proposal.buyerquote.monthlyPayment | currency : '$' : 0}}</div>
                <div class="col ac-left">Ttle Fee: {{proposal.buyerquote.titleFee | currency : '$' : 0}}</div>
                <div class="col ac-left">Reg Fee: {{proposal.buyerquote.regFee}}</div>
                <div class="col ac-left">Tax Rate: {{proposal.buyerquote.taxRate}}</div>
            </div>
        </div>




        <div class="item item-divider ac-right">
            <button class="button button-clear button-calm" ng-click="acceptOffer()">
                Accept
            </button>
            <button class="button button-clear button-calm" ng-click="rejectOffer()">
                Reject
            </button>
            <button class="button button-clear button-calm" ng-click="addOffer()">
                Counter-Offer
            </button>
        </div>


        <div class="item item-divider ac-right" ng-show="showOffer">
            <div class="col ac-left">
                Offered Price:
                <input type="text" ng-value="proposal.sellerquote.offeredPrice" />
            </div>
            <div class="col ac-left">
                Trade in Value:
                <input type="text" ng-value="proposal.sellerquote.tradeInValue" />
            </div>
            <div class="item item-divider ac-right">
                <button class="button button-clear button-calm" ng-click="sendQuote()">
                    Send Offer
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
