<ion-view view-title="Browse Vehicles">
    <ion-nav-buttons side="right">
        <button class="button button-icon ac-browse-vehicle-icon" ng-click="navigateToMaps()">
            <i class="ion-location"></i>
        </button>
        <button class="button button-icon ac-browse-vehicle-icon" ng-click="doSomething()">
            <i class="ion-funnel"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list">

            <a class="item item-thumbnail-left" href="#" ng-repeat="vehicle in vehicles" ng-click="setselectedVehicle(vehicle)">
                <img class="ac-browse-vehicle-img" ng-src="data:image/jpeg;base64,{{vehicle.imageUrl.substring(2, vehicle.imageUrl.length-2)}}">
                <h2>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} {{vehicle.trim}}</h2>
                <p>
                    <span>{{vehicle.vin}}</span>
                    <span>{{vehicle.type}}</span>
                </p>
                <p>{{vehicle.featPrice | currency : '$' : 0}}</p>
            </a>

        </div>

    </ion-content>
</ion-view>
