<ion-view view-title="Browse Vehicles">
  <ion-content>
      <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
      </ion-refresher>
      <div class="list">

          <a class="item item-thumbnail-left" href="#" ng-repeat="vehicle in vehicles" ng-click="setselectedVehicle(vehicle)">
              <img ng-src="data:image/JPEG;base64,{{vehicle.imageUrl[0]}}">
              <h2>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h2>
              <p>{{vehicle.vin}}</p>
              <p>{{vehicle.type}}</p>
          </a>
      </div>

  </ion-content>
</ion-view>
