<ion-view view-title="Reserve Car">
  <ion-content>
    <div class="item item-text-wrap">
      <p>
        Please make sure you make a reservation for test drive within next 24 hrs for this quote to be active.
      </p>
    </div>
    <div>
      <button class="button button-autocoders" ng-click="showReservation()">
        Make Reservation
      </button>
    </div>
    <div ng-show="viewMakeReservation">
      <input type="datetime-local" id="exampleInput" name="input" ng-model="reservationDate"
             placeholder="yyyy-MM-dd" required />
    </div>
  </ion-content>
  </ion-view>
