<ion-view view-title="Reserve Car">
  <ion-content>
    <div class="item item-text-wrap">
      <p>
        Please make sure you make a reservation for test drive within next 24 hrs for this quote to be active.
      </p>
    </div>

    <div>
      <div>
      <button ng-click="getPhoto()" class="button button-block button-primary">Scan your Driver's License</button>
      <div class="item item-image ac-vehicle-detail-img">
        <ion-slide-box show-pager="false">
          <img ng-src="data:image/jpeg;base64,{{dlImageUrl}}"/>
        </ion-slide-box>
      </div>

    </div>
    <div>
      <button class="button button-autocoders" ng-click="">
        Make Reservation
      </button>
    </div>
  </ion-content>
  </ion-view>
