<ion-view view-title="Settings">
    <ion-nav-buttons side="right">
        <button class="button button-autocoders" ng-click="saveUser()">
            SAVE
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="card">
            <label class="item item-input">
                <span class="input-label">Account Key</span>
                <input class="ac-vehicle-detail-value" type="text" ng-model="user.accountKey" />
            </label>
        </div>
        <div class="card">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input class="ac-vehicle-detail-value" type="text" ng-model="user.name" />
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input class="ac-vehicle-detail-value" type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Telephone</span>
                <input class="ac-vehicle-detail-value" type="tel" ng-model="user.phoneNo">
            </label>
            <ion-toggle toggle-class="toggle-balanced" ng-model="pushNotificationToggle.checked" ng-change="pushNotificationChange()">
                Notifications
            </ion-toggle>
        </div>

        <div class="padding">
            <button class="button button-block button-stable" ng-click="sendNotification()">SEND TEST NOTIFICATION</button>
        </div>

    </ion-content>
</ion-view>
