<ion-view view-title="Settings">
    <ion-content>
        <span class="item item-input">
            <span class="input-label">Account Key</span>
            <input type="text" ng-model="user.accountKey" ng-change="accountKeyChange()" />
        </span>
        <ion-toggle ng-model="user.PushNotificationToken"
                    ng-change="pushNotificationChange()">
            Push Notifications
        </ion-toggle>

        <button ng-click="sendNotification()">
            Send Test Notification
        </button>
        <button ng-click="saveUser()">
            Save
        </button>

        <div class="item">
            <pre ng-bind="users | json"></pre>
        </div>

    </ion-content>
</ion-view>
