<ion-modal-view>
    <ion-header-bar align-title="left" class="bar bar-autocoders">
        <div class="buttons">
            <h1 class="title">Sign In</h1>
            <button menu-close class="button button-icon ac-login-close-icon" ng-click="closeLogin()">
                <i class="ion-android-close"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Username:</span>
                    <input type="text" ng-model="loginData.username">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password:</span>
                    <input type="password" ng-model="loginData.password">
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-autocoders" type="submit">SUBMIT</button>
            </div>

        </form>
    </ion-content>
</ion-modal-view>
